.allCenter{
    display: flex;
    display: -webkit-flex; 
    align-items:center;
    justify-content:center;
}

.mgr_30{
    margin-right:40px;
}

.left_right_align{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
} 

.mgb_4{
    margin-bottom: 4px;
}